.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player__name {
    font-weight: 300;
    font-size: 1.8rem;
}

.player__status {
    font-weight: 300;
    font-size: 1.3rem;
    font-style: italic;
}

.player__actions {
    flex-shrink: 0;
}
